@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap'); 
*{
	box-sizing: border-box;
}

body{
    margin: 0;
    margin-right: 0;
    padding: 0;
	background-color: #F1F5F9;
	font-family: Arial, Tahoma;
}

.pad-top {
    padding-top: 130px;
}



header {
    margin: 0;
}

.container {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background-color: #0a0c0d;
    width: 100%;
    opacity: 0.8;
    margin: 0;
    
}

.container .icon {
    padding: 7px;
    float: left;
}


/*.container0 {
  float: right;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #EEE;
  border-radius: 10px;
  margin: 15px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #cecece;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.hide {
    display: none;
}*/


.menu {
    float: right;
    margin-right: 70px;
}

.menu li {
    display: inline;
    font-size: 20px;
}

.menu li + li {
    margin-left: 30px;
}
.menu li a {
    color: #FFF;
    text-decoration: none;
}

.menu li a .fa {
    -webkit-font-sommthing: antialiased;
    display: var(--fa-display,inline-block);
    font-style: normal;
    font-variant: normal;
    font-family: var(--fa-style-family,"Font Awesome 6 Free");
    font-weight: var(--fa-style,900);
    line-height: 1;
    text-rendering: auto;
    margin: 7px;
}

.fa-chevron-down:before {
    content: "\f078";
}


.scroll-to-top {
    display: block;
    width: 35px;
    height: 35px;
    position: fixed;
    border-radius: 23px;
    right: 30px;
    bottom: 25px;
    z-index: 9999;
}

.scroll-to-top span:hover {
    background-position: left bottom;
}

.scroll-to-top span {
    background: linear-gradient(to right, #1368cc 50%, var(--main-color) 50%) no-repeat scroll right bottom/210% 100% var(--main-color);
    transition: all ease-in-out 1.5s;
    display: block;
    width: 100%;
    height: 100%;
    color: #FFF;
    background-color: #1a1f21;
    text-align: center;
    cursor: pointer;
    border-radius: 23px;
    text-decoration: none;
}

.scroll-to-top span:before {
    font-family: "FontAwesome";
    content: "\f077";
    font-size: 18px;
    position: relative;
    top: 10px;
    text-decoration: none;
}

:after,
:before {
    box-sizing: border-box;
}




.designer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0a0c0d;
    width: 98%;
    margin: 60px 15px 0px 15px;
}

.designer p{
    float: left;
    color: #FFF;
    padding: 10px;
    margin-left: 30px;
}

.designer .menu-links {
    float: right;
    margin-right: 80px;
    display: flex;
}

.menu-links li {
    position: relative;
}

.menu-links li .fa:before {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*position: absolute;*/
    display: inline;
    font-size: 30px;
    margin-right: 15px;
    padding: 10px;
    background-color: #5b5b5b;
}


.fa-facebook {
    content: "\f082";
}
.fa-github {
    content: "\f09b";
}
.fa-linkedin {
    content: "\f0e1";
}
.fa-codepen {
    content: "\f1cb";
}
.fa-university {
    margin-left: 10px;
    content: "\f19c";
}





