{% extends 'base.html' %}

{% block head %}

{% endblock%}


{% block body %}
    <div class="title pad-top">
        <h1>Path To Becoming an Expert in Python</h1>
    </div>
    <div class="container_p ">
        <h2>Step 1 :  Learn Basics</h2>
        <ul>
            <li>  Comments</li>
            <li>  Variables</li>
            <li>  Data Type (String, Numbers(int, float), Boolean)</li>
            <li>  Mutable & Immutable Data Types</li>
            <li>  Basic Data Structures(List,Tuple, Set, Dictionary)</li>
            <li>  Conditions</li>
            <li>  Chained Conditions</li>
            <li>  Operators</li>
            <li>  Control Flow(if-else)</li>
            <li>  Loops & Iterables</li>
            <li>  Functions</li>
            <li>  Common Methods(Built in Function)</li>
            <li>  File IO</li>
            <li>  Errors</li>
            <li>  Debug</li>
        </ul>
        
        <h2>Step 2 :  Intermediate Level</h2>
        <ul>
            <li>  Object Oriented Programming (OOP)</li>
            <li>  Inheritance</li>
            <li>  Data Structures</li>
            <li>  Comprehensions</li>
            <li>  Lambda Function</li>
            <li>  Collections Module</li>
            <li>  Map & Filter</li>
            <li>  *args & **kwargs</li>
            <li>  Advanced Class Behavior</li>
            <li>  PIP</li>
            <li>  Environments</li>
            <li>  Module Creation</li>
        </ul>
        
        <h2>Step 3 : Advanced Level</h2>
        <ul>
            <li>  Decorators</li>
            <li>  Generators</li>
            <li>  Context Manager</li>
            <li>  Metaclasses</li>
            <li>  Concurrency & Parallelism</li>
            <li>  Testing</li>
            <li>  Packages</li>
            <li>  Cython</li>
        </ul>
        
        <h2>End Step : Expert / Master</h2>
        <p>If you have reached this stage, there are many things that you should know, such as :</p>
        <ul>
            <li>  How Python Is Build?</li>
            <li>  Where Are You Using Your Skills?</li>
            <li>  Apply Skills to a Profession</li>
        </ul>
    </div>
{% endblock%}